@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 960px;
    margin: 0px auto;
    font-family: 'Noto Sans KR', sans-serif;
    background-image: url('../images/구름.jpg');
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /*color: rgb(154, 0, 0);*/
}

a:visited {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

img {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

input:focus, select:focus, textarea:focus{
    border-color: black;
    outline: none;
    accent-color: rgb(46, 46, 46);
}


input, textarea, select{
    border: 0px;
}
